TZ=Asia/Shanghai

# mysql配置
MYSQL_VERSION=8.0
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=wordpress


# wordpress配置
WORDPRESS_VERSION=latest
WORDPRESS_DB_HOST="mysql"
WORDPRESS_DB_USER="root"
WORDPRESS_DB_PASSWORD="${MYSQL_ROOT_PASSWORD}"
WORDPRESS_DB_NAME="${MYSQL_DATABASE}"
WORDPRESS_TABLE_PREFIX="wp_"
