DOMAIN=<https://your_domain>
SIGNUPS_ALLOWED=true
WEB_VAULT_ENABLED=true
INVITATIONS_ALLOWED=false
WEBSOCKET_ENABLED=true
ROCKET_WORKERS=20
SHOW_PASSWORD_HINT=false
LOG_FILE=/data/vaultwarden.log
IP_HEADER=X-Real-IP
TZ=Asia/Shanghai

