APP_NAME=张理坤-GIT
RUN_MODE=prod
DOMAIN=git.babudiu.com
SSH_DOMAIN=git.babudiu.com
SSH_PORT=22
SSH_LISTEN_PORT=22222
DISABLE_SSH=false
HTTP_PORT=3000
ROOT_URL=https://git.babudiu.com/
LFS_START_SERVER=true
# DB_TYPE=mysql
# DB_HOST=mysql:3306
# DB_NAME=gitea
# DB_USER=root
# DB_PASSWD=123456
INSTALL_LOCK=true
SECRET_KEY=n4ovDcnuUKy97QwdQYpX
DISABLE_REGISTRATION=false
REQUIRE_SIGNIN_VIEW=false

# app.ini 中的配置, app.ini 中的任何设置都可以使用以下形式的环境变量进行设置或覆盖：GITEA__SECTION_NAME__KEY_NAME。 每次 docker 容器启动时都会应用这些设置。 
# https://docs.gitea.com/zh-cn/installation/install-with-docker#%E7%8E%AF%E5%A2%83%E5%8F%98%E9%87%8F

GITEA__log__MODE=console
GITEA__log__LEVEL=info
